<section class="all-profiles">
    {{#each profiles}}
    <div class="date-container">
        <img src="uploads/{{this.profileImage}}">
        <button class="btn" id="{{ this.name }}">LIKE</button>
        <ul class="user-profile">
            <li><p>name: {{this.name}}</p></li>
            <li><p>gender: {{this.gender}}</p></li>
            <li><p>occupation: {{this.occupation}}</p></li>
            <li><p>hobby: {{this.hobby}}</p></li>
            <li><p>motto: {{this.Motto}}</p></li>
            <li><p>sex orientation: {{this.sexOrientation}}</p></li>
        </ul>
    </div>
    {{/each}}
    <script>
        $(document).ready(function() {
            $('.btn').click(function() {
                const name = $(this).attr("id");
                data = {
                    "name": name
                }
                $.ajax('http://localhost:3000/profile', {
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function() { console.log('success');},
                    error  : function() { console.log('error');}
                });
            })
        });
    </script>
</section>

{{>footer}}