{{>top}}

<div class="wrap">
   <div class="search">
        <form class="search-form" action="/search" method="POST">
            <div class="form-hobby">
                <label for="hobby">hobby</label>
                <input type="text" id="hobby" name="hobby" placeholder="hobbies">
            </div>
            <div class="form-hobby">
                <label for="occupation">occupation</label>
                <input type="text" id="occupation" name="occupation" placeholder="occupation">
            </div>
            <div>
                <label id="gender" for="sexo" class="signup-input">Sex Orientation</label>
                <input type="radio" name="sexo" value="male"/>Male
                <input type="radio" name="sexo" value="female"/>Female 
            </div>
            <button type="submit" class="searchButton">search</button>
        </form>
   </div>
</div>

<section>
    {{#each profiles}}
    <div class="date-container">
        <div class="images">
            <img class="date-img" src="uploads/{{ this.profileImage }}" alt="user-profile">
        </div>
        <div class="button-list">
            <button class="like-btn" id="{{ this.name }}">LIKE</button>
            <button value="{{ this.name }}" class="dislike-btn">DISLIKE</button>
        </div>
        <div class="user-info">
            <ul class="user-profile">
                <li><p>name: {{ this.name }}</p></li>
                <li><p>gender: {{ this.gender }}</p></li>
                <li><p>occupation: {{ this.occupation }}</p></li>
                <li><p>hobby: {{ this.hobby }}</p></li>
                <li><p>motto: {{ this.Motto }}</p></li>
                <li><p>sex orientation: {{ this.sexOrientation }}</p></li>
            </ul>
        </div>

        <a href="/private/{{ this.profileId }}" target="_blank">{{ this.name }}'s private Information</a>
    </div>

    {{/each}}

    <script>
        $(document).ready(function() {
            $('.dislike-btn').hide();
            $('.like-btn').click(function() {
                const name = $(this).attr("id");
                $(this).hide();
                $(`button[value = ${name}]`).show();
                data = {
                    "operation": "like",
                    "name": name
                };
                $.ajax('http://localhost:3000/date', {
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function() { console.log('success');},
                    error  : function() { console.log('error');}
                });
            });

            $('.dislike-btn').click(function() {
                const name = $(this).attr("value");
                $(this).hide();
                $(`button[id = ${name}]`).show();
                data = {
                    "operation": "dislike",
                    "name": name
                };
                $.ajax('http://localhost:3000/date', {
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function() { console.log('success');},
                    error  : function() { console.log('error');}
                });
            });
        });
    </script>
</section>


{{>footer}}
