{{>top}}
<section>
    {{#if flag}}
        <div class="favor-h1">
            <h1>You haven't liked anybody</h1>
        </div>
    {{/if}}
    {{#each profiles}}
    <div class="date-container">
        <div class="images">
            <img class="date-img" src="/uploads/{{ this.profileImage }}" alt="user-profile">
        </div>
        <div class="user-info">
            <ul class="user-profile">
                <li><p>name: {{ this.name }}</p></li>
                <li><p>gender: {{ this.gender }}</p></li>
                <li><p>occupation: {{ this.occupation }}</p></li>
                <li><p>hobby: {{ this.hobby }}</p></li>
                <li><p>motto: {{ this.Motto }}</p></li>
                <li><p>sex orientation: {{ this.sexOrientation }}</p></li>
            </ul>
        </div>

        <a href="/private/{{ this.profileId }}" target="_blank">{{ this.name }}'s private Information</a>
    </div>

    {{/each}}
</section>
{{>footer}}