
    <div class="inter-h1">
        <h1>Last Step: upload your profile picture!</h1>
    </div>
    <div class="inter-userinfo">
        <ul>
            <li>Username: {{username}}</li>
            <li>Hobby: {{hobby}}</li>
            <li>Occupation: {{occupation}}</li>
            <li>Sex Orientation: {{sexOrientation}}</li>
            <li>Gender: {{gender}}</li>
            <li>Motto: {{motto}}</li>
        </ul>
    </div>
    <div class="inter-private">
        <h2>private information</h2>
        <div class="inter-ul">
        <ul>
            <li>Age: {{ age }}</li>
            <li>Location: {{ location }}</li>
            <li>Contact: {{ contact }}</li>
        </ul>
        </div>
    </div>

    <div class="inter-form">
        <form action="/intermediate" method="POST" enctype="multipart/form-data">
            <div class="file-field">
                <label class="inter-label" for="myImage">Upload Picture</label>
                <input type="file" id="myImage" name="myImage">
            </div>
            <button type="submit" class="inter-btn">Submit</button>
        </form>
    </div>

    {{#if filePath}}
        <div class="inter-img-area">
            <img class="inter-img" src= {{ filePath }} alt="user-profile">
        </div>
        <div class="inter-links">
            <ul>
                <li><a href="/login">Get Started!</a></li>
                {{!-- <li><a href="/profile/{{ id }}">Change Profile</a></li> --}}
            </ul>
        </div>
    {{/if}}

    {{>footer}}