{{>top}}
<div class="btn-area">
    <button class="post-btn">Add a post</button>
</div>
<div class="post-form-area">
    <form class="post-form" action="/post/{{ id }}" method="POST">
        <div class="post-title">
            <p class="error-message" id="1">Please provide a title</p>
            <label for="title">title:</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="post-body">
            <p class="error-message" id="2">Please provide post</p>
            <label for="body">body:</label>
            <input type="text" id="body" name="body">
        </div>

        <button class="add-video" type="button">Add a video</button>
        <div class="video-area">
            <div class="video-title">
                <p class="error-message">Please provide a video title</p>
                <label for="videoTitle">title:</label>
                <input type="text" id="title" name="videoTitle">
            </div>
            <div class="video-description">
                <p class="error-message">Please provide a video description</p>
                <label for="videoDescription">description:</label>
                <input type="text" id="description" name="videoDescription">
            </div>
            <div class="video-link">
                <p class="error-message">Please provide a video link</p>
                <label for="link">link</label>
                <input type="text" id="link" name="link">
            </div>
        </div>
        <button class="submit-post" type="submit">Submit</button>
    </form>
</div>

<section>
    {{#each posts}}
        <div class="single-post">
        {{#if this.title}}
            <div class="text-post">
                <h2>Post Time: {{ this.postTime }}</h2>
                <p>Post Title: {{ this.title }}</p>
                <article>Post: {{ this.body }}</article>
            </div>
        {{/if}}

        {{#if this.videoTitle}}
            <div class="video-post">
                <h2>Post time: {{ this.postTime }}</h2>
                <p>Video Title: {{ this.videoTitle }}</p>
                <article>Video Description: {{ this.videoDescription }}</article>
                <iframe width="560" height="315" 
                src="{{ this.link }}" 
                frameborder="0" allow="accelerometer; autoplay; 
                encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
        {{/if}}
        </div>
    {{/each}}
</section>


<script>
    $(document).ready(function() {
        $('.error-message').hide();
        $('.video-area').hide();
        $('.post-form').hide();
        $('.post-btn').click(function() {
            $('.post-form').show();
        })
        $('.add-video').click(function() {
            $('.video-area').show();
        });
        $('.submit-post').click(function(e) {
            if (!$('input#title').val()) 
                $('#1').show();
            if (!$('input#body').val()) 
                $('#2').show();
        });
    });
</script>