{{>top}}
<div class="btn-area">
    <button class="post-btn">Add a post</button>
</div>
<div class="post-form-area">
    <form class="post-form" action="/post/{{ id }}" method="POST">
        <div class="post-title">
            <span class="error-message" id="text-title-error"></span>
            <label for="title">title:</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="post-body">
            <span class="error-message" id="text-body-error"></span>
            <label for="body">body:</label>
            <input type="text" id="body" name="body">
        </div>

        <button class="add-video" type="button">Add a video</button>
        <div class="video-area">
            <div class="video-title">
                <span class="error-message" id="video-title-error"></span>
                <label for="videoTitle">title:</label>
                <input type="text" id="videoTitle" name="videoTitle">
            </div>
            <div class="video-description">
                <span class="error-message" id="video-body-error"></span>
                <label for="videoDescription">description:</label>
                <input type="text" id="videoDescription" name="videoDescription">
            </div>
            <div class="video-link">
                <span class="error-message" id="video-link-error"></span>
                <label for="link">link</label>
                <input type="text" id="link" name="link">
            </div>
        </div>
        <button class="submit-post" type="submit">Submit</button>
    </form>
</div>

<section>
    {{#each posts}}
        <div class="single-post">
        {{#if this.title}}
            <div class="text-post">
                <p id="post-time">Post Time: {{ this.postTime }}</p>
                <p>Post Title: {{ this.title }}</p>
                <article>Post: {{ this.body }}</article>
            </div>
            {{!-- <div>
                <button type="{{id}}" class="delete-button" id="{{ this.postTime }}">delete</button>
            </div> --}}
        {{/if}}

        {{#if this.videoTitle}}
            <div class="video-post">
                <p id="post-time">Post time: {{ this.postTime }}</p>
                <p>Video Title: {{ this.videoTitle }}</p>
                <article>Video Description: {{ this.videoDescription }}</article>
                <iframe width="560" height="315" 
                src="{{ this.link }}" 
                frameborder="0" allow="accelerometer; autoplay; 
                encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
            {{!-- <div>
                <button class="delete-button" id="{{ this.postTime }}">delete</button>
            </div> --}}
        {{/if}}
        </div>
    {{/each}}
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $('.error-message').hide();
        $('.video-area').hide();
        $('.post-form').hide();
        $('.post-btn').click(function() {
            $('.post-form').show();
        })
        $('.add-video').click(function() {
            $('.video-area').show();
        });
        /*
        $('.delete-button').click(function() {
            let postTime = $(this).attr("id");
            const id = $(this).attr("type");
            data = {
                postTime: postTime
            };
            console.log(id);
            $.ajax(`http://localhost:3000/post`, {
                type: 'DELETE',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function() { console.log('success');},
                error  : function() { console.log('error');}
            });
        })
        */
    });
</script>