<h2 class="private-h">{{ user.username }}'s Private information:</h2>
<div class="private-img">
    <img src="/uploads/{{ user.profile.profileImage }}" alt="matched user profile">
</div>
<div class="private-info">
    <div>
        <p>Contact information: {{user.profile.privateInfo.contactInfo}}</p>
    </div>
    <div>
        <p>My age is: {{user.profile.privateInfo.age}}</p> 
    </div>
    <div>
        <p>I'm living in {{user.profile.privateInfo.location}}</p> 
    </div>
</div>
<section>
    <h2 class="private-h">{{ user.username }}'s posts:</h2>
    {{#if flag}}
        <div class="flag">
            <h3>{{ user.username }} has no posts</h3>
        </div>
    {{/if}}
    {{#each posts}}
        <div class="single-post">
        {{#if this.title}}
            <div class="text-post">
                <p>Post Time: {{ this.postTime }}</p>
                <p>Post Title: {{ this.title }}</p>
                <article>Post: {{ this.body }}</article>
            </div>
        {{/if}}

        {{#if this.videoTitle}}
            <div class="video-post">
                <p>Post Time: {{ this.postTime }}</p>
                <p>Video Title: {{ this.videoTitle }}</p>
                <article class="video-article">Video Description: {{ this.videoDescription }}</article>
                <div class="video-area">
                    <iframe width="560" height="315" 
                    src="{{ this.link }}" 
                    frameborder="0" allow="accelerometer; autoplay; 
                    encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
                </div>
            </div>
        {{/if}}
        </div>
    {{/each}}
</section>
{{>footer}}