<nav class="nav-bar">
    <div class="brand-title">Kuan's Dating App</div>
    <div class="nav-bar-links">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile/{{ id }}">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="showcase">
    <div class="img">
        <img class="profile-img" src="/uploads/{{ imageName }}" alt="profile">
    </div>
    <form action="/profile/{{ user._id }}" method="POST" enctype="multipart/form-data">
        <div class="file-field">
            <div class="btn grey">
            <span>Change Profile</span>
            <input type="file" name="myImage">
            </div>
        </div>
        <button type="submit" class="profile-btn" id="{{ user._id }}">Submit</button>
    </form>
    <form action="/change-profile/{{ user._id }}" method="POST" class="profile-form" id="form">
        <div>
            <label for="hobby" id="hobby" class="signup-input">Hobby</label>
            <input type="text" name="hobby"  placeholder="hobbies" value="{{user.profile.hobby}}"/>
        </div>
        <div>
            <label for="occupation" id="occupation" class="signup-input">Occupation</label>
            <input type="text" name="occupation"  placeholder="occupation" value="{{user.profile.occupation}}"/>
        </div>
        <div>
            <label for="motto" id="motto" class="signup-input">Motto</label>
            <input type="text" name="motto"  placeholder="write something you like" value="{{user.profile.Motto}}"/>
        </div>
            <h3>Private information</h3>
        <div>
            <label for="contactInfo" id="contactInfo" class="signup-input">Phone Number</label>
            <input type="tel" name="contactInfo" placeholder="phone number" value="{{user.privateInfo.contactInfo}}"/>
        </div>
        <div>
            <label for="age" id="age" class="signup-input">age</label>
            <input type="number" name="age"  placeholder="enter your age" value="{{user.privateInfo.age}}"/>
        </div>
        <div>
            <label for="location" id="location" class="signup-input">Location</label>
            <input type="text" name="location"  placeholder="city you live" value="{{user.privateInfo.location}}"/>
        </div>
        <div>
            <input type="submit" value="Make a change">
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('.profile-btn').click(function() {
            const id = $(this).attr("id");
            data = {
                "flag": 1
            }
            $.ajax(`http://localhost:3000/profile/${id}`, {
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function() { console.log('success');},
                error  : function() { console.log('error');}
            });
        })
    });
</script>

{{>footer}}
