<nav class="nav-bar">
    <div class="brand-title">Kuan's Dating App</div>
    <div class="nav-bar-links">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/post/{{ id }}">Post</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="showcase">
    <div class="img">
        <img class="profile-img" src="/uploads/{{ imageName }}" alt="profile">
    </div>
    <form class="pro-form" action="/profile/{{ user._id }}" method="POST" enctype="multipart/form-data">
        <div class="file-field">
            <div class="btn grey">
            <label class="profile-label" for="myImage">Change Profile</label>
            <input class="pro-file-input" type="file" name="myImage" id="myImage">
            </div>
        </div>
        <button type="submit" class="profile-btn" id="{{ user._id }}">Submit</button>
    </form>
    <form action="/change-profile/{{ user._id }}" method="POST" class="profile-form" id="form">
        <div>
            <label for="hobby" class="signup-input">Hobby</label>
            <input type="text" id="hobby" name="hobby"  placeholder="hobbies" value="{{user.profile.hobby}}"/>
        </div>
        <div>
            <label for="occupation" class="signup-input">Occupation</label>
            <input type="text" id="occupation" name="occupation"  placeholder="occupation" value="{{user.profile.occupation}}"/>
        </div>
        <div>
            <label for="motto" class="signup-input">Motto</label>
            <input type="text" id="motto" name="motto" placeholder="write something you like" value="{{user.profile.Motto}}"/>
        </div>
        <div id="pro-pri">
            <p>Private information</p>
        </div>
        <div>
            <label for="contactInfo" class="signup-input">Phone Number</label>
            <input type="tel" id="contactInfo" name="contactInfo" placeholder="phone number" value="{{user.profile.privateInfo.contactInfo}}"/>
        </div>
        <div>
            <label for="age" class="signup-input">age</label>
            <input type="number" id="age" name="age"  placeholder="enter your age" value="{{user.profile.privateInfo.age}}"/>
        </div>
        <div>
            <label for="location" class="signup-input">Location</label>
            <input type="text" id="location" name="location"  placeholder="city you live" value="{{user.profile.privateInfo.location}}"/>
        </div>
        <div>
            <input type="submit" value="Save change">
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('.profile-btn').click(function() {
            const id = $(this).attr("id");
            data = {
                "flag": 1
            }
            $.ajax(`http://localhost:3000/profile/${id}`, {
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function() { console.log('success');},
                error  : function() { console.log('error');}
            });
        })
    });
</script>

{{>footer}}
