<body class="signup-body">
    <header>
        <nav class="signup-navbar">
            <div class="signup-brand-title">Kuan's Dating App</div>
            <div class="signup-navbar-links">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li class="current"><a href="/signup">Signup</a></li>
                    <li><a href="https://www.linkedin.com/in/kuan-lyu/" target="_blank">contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <div class="showcase">
        <h1>sign up here</h1>
        <form action="/signup" method="POST" class="signup-form" id="signup-form">
            <p class="error-form">{{ error }}</p>
            <div class="username">
                <label for="username" class="signup-input">USERNAME</label>
                <input type="text" name="username" id="username" value="{{ username }}" placeholder="enter username" required/>
                <span class="error_form" id="username_error_message">error</span>   
            </div>
            <div>
                <label for="email" class="signup-input">Email Address</label>
                <input type="email" name="email" id="email" value="{{ email }}" placeholder="your email address" required/>
                <span class="error_form" id="email_error_message"></span>
            </div>
            <div>
                <label for="password" class="signup-input">PASSWORD</label>
                <input type="password" name="password" id="password" value="{{ password }}" placeholder="create password" required/>
                <span class="error_form" id="password_error_message"></span>
            </div>
            <div>
                <label for="confirmPassword" class="signup-input">Confirm Password</label>
                <input type="password" name="confirmPassword" value="{{ confirmPassword }}" id="confirmPassword" placeholder="confirm password" required/>
                <span class="error_form" id="confirmPassword_error_message"></span>
            </div>
            <div>
                <label id="gender" for="male" class="signup-input">Gender: </label>
                <input type="radio" name="gender" id="male" value="male"/>Male
                <label for="female"></label>
                <input type="radio" id="female" name="gender" value="female"/>Female 
            </div>
            <div>
                <label for="hobby" class="signup-input">Hobby</label>
                <input type="text" id="hobby" name="hobby" value="{{ hobby }}"  placeholder="hobbies" required/>
            </div>
            <div>
                <label for="occupation" class="signup-input">Occupation</label>
                <input type="text" id="occupation" name="occupation" value="{{ occupation }}" placeholder="occupation" required/>
            </div>
            <div>
                <label for="sexo-male" class="signup-input">sex orientation: </label>
                <input type="radio" name="sexo"  value="male" id="sexo-male" required/>Male
                <label for="sexo-female"></label>
                <input id="sexo-female" type="radio" name="sexo" value="female" required/>Female
            </div> 
            <div>
                <label for="motto" class="signup-input">Motto</label>
                <input type="text" name="motto" id="motto" value="{{ motto }}" placeholder="write something you like" required/>
            </div>
                <h3>Private information</h3>
            <div>
                <label for="contactInfo" class="signup-input">Phone Number</label>
                <input type="tel" id="contactInfo" name="contactInfo" value="{{ contactInfo }}" placeholder="phone number" required/>
                <span class="error_form" id="contactInfo_error_message"></span>
            </div>
            <div>
                <label for="age" class="signup-input">age</label>
                <input type="number" name="age" id="age" value="{{ age }}" placeholder="enter your age" required/>
                <span class="error_form" id="age_error_message"></span>
            </div>
            <div>
                <label for="location" class="signup-input">Location</label>
                <input type="text" name="location" id="location" value="{{ location }}" placeholder="city you live" required/>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>

    </div>

    <footer>
        <p>Copyright &copy; Kuan's Web Project 2019</p>
    </footer>

    <script src="js/signup.js" type="text/javascript"></script>
</body>
